*{
    box-sizing: border-box;
}

html ,body{
   overflow-x: hidden;
   height:100%;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    /* background-color: rgb(122, 122, 197); */
    padding: 0;
    margin: 0;
  
}

.header{
    background-color: #ee5253;
    width:100%;
    position:fixed;
    height:60px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(orange, white, green);
}
.SidebarIconToggle{
    width:22px;
    height: 22px;
    position: absolute;
    z-index: 20;
    top: 22px;
    left:15px;
    cursor: pointer;
   
   
}

#openSidebarMenu:checked ~ #sidebarMenu{
    transform: translateX(0px);
}

.main{
    height:100%;
    margin-top: 60px;
    padding:10px 50px;
}

#sidebarMenu{
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width:250px;
    margin-top: 60px;
    background-color: #2e86de;
   transform: translateX(-250px);
    transition: transform 250ms ease-in-out;

}

.menu{
    list-style: none;
    padding: 0;
    margin:0;
}

.menu li{
    color:#fff;
    border-bottom: 1px solid rgba(255,255,255,0.10);
}

.menu li a{
    color:#fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

.spinner{
    height:3px;
    background-color: black;
    transition: all 0.3s;
    margin-top:3px;
}

.spinner .middle, .spinner .bottom{
    padding-top: 5px;
}

#openSidebarMenu:checked ~ .SidebarIconToggle > .spinner.middle{

    opacity:0;

}

#openSidebarMenu:checked ~ .SidebarIconToggle > .spinner.top{
   transform: rotate(135deg);
    margin-top:8px;

}

#openSidebarMenu:checked ~ .SidebarIconToggle > .spinner.bottom{

    transform: rotate(-135deg);
    margin-top:-9px;

}

/* container  */

.container-details{
    border: 2px solid purple;
    background-color: aquamarine;
    display: flex;
    /* display: inline-block; */
    flex-direction: column;
    margin-top: 39px;
    justify-content: space-evenly;
}
.detail-box{

margin-left: 100px;
}

#detail-box-1{
  height: 250px;
  display: flex;
  justify-content:space-around;
 

}

#subbox-1{
    margin: 5px;
    /* border: 2px solid blue; */
    width: 700px;
  }
  #subbox-1 h1{
    text-align: center;
  }
  #subbox-1 p{
      text-align: justify;
  }

  #subbox-2{
    margin-left: 29px;
    /* border: 2px solid blue; */
  }

   @media screen and (max-width:768px){
    .header{
      font-size: 12px;
    }
    .detail-box{
        display: flex;
        /* flex-wrap: wrap; */
        /* margin-left: 0px; */
        margin: 5px 5px 0px 0px;
   
    
    }
    #detail-box-1{
        height: 695px;
    }
    
    #subbox-2{
        height: 100px;
        width: 100px;
        /* box-sizing: border-box; */

    }
    #subbox-2 img{
        height: 100px;
        width: 100px;
        margin-top: 200px;
    }
    #subbox-1{
        margin: 5px;
        /* border: 2px solid blue;  */
         width: 500px;
         /* box-sizing: border-box; */
         height: 700px;
      }
      .container-details{
          display: flex;
          flex-direction: column; 
          /* align-items: flex-end; */
      }
      #subbox-1 p{
        text-align: justify;
        height: 500px;
    }
    
    
} 
